.slick-prev:before,
.slick-next:before {
  font-size: 25px;
  color: black;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

@media (max-width: 560px) {
  .App ul {
    padding: 15%;
  }
}

@media (max-width: 820px) {
  .sc-bcXHqe.kWva-db {
    height: 26vh;
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
